:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;

  --green: #1db954;
  --black: #121212;
  --lightblack: #212121;
  --gray: #535353;
  --lightgray: #b3b3b3;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--lightblack);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


